@font-face {
	font-family: 'Simplon Norm';
	src: url('../../public/fonts/SimplonNorm-Regular-WebS.woff');
}

@font-face {
	font-family: 'Simplon Norm';
	font-display: swap;
	font-weight: 700;
	src: url('../../public/fonts/SimplonNorm-Bold-WebS.woff');
}

@font-face {
	font-family: 'Simplon Norm';
	font-display: swap;
	font-weight: 400;
	src: url('../../public/fonts/SimplonNorm-Medium-WebS.woff');
}
