@import '@/styles/variable.scss';

.description-wrapper{
    margin-top: 72px;

    .description-title{
        font-size: 60px;
        line-height: 72px;
        color:$gold-black;
        font-weight: 400;
        margin-bottom: 16px;
    }
    .description{
        max-width: 710px;
        line-height: 40px;
        font-size: 22px;
        color:$gold-black;
        font-weight: 400;

    }
}

//resposnive
@media screen and (max-width: 768px) { 

    .description-wrapper{
        .description-title{
            font-size: 24px;
            line-height: 28px;
        }
        .description{
            font-size: 16px;
            line-height: 22px;
        }
    }
    
 }