.header-container{
    border-bottom: 1px solid #E5E5E5;

    .header-wrapper{
        padding: 40px 96px;
    
        .icons-wrapper{
            gap: 24px;
        }
    }
    .navbar-wrapper{
        margin-bottom: 24px;
        gap: 64px;
    }
}