.header-container{
    border-bottom: 1px solid #E5E5E5;

    .header-wrapper{
        padding: 40px 96px;
    
        .icons-wrapper{
            gap: 24px;
        }
    }
    .navbar-wrapper{
        margin-bottom: 24px;
        gap: 64px;
    }
}


//responsive

@media screen and (max-width: 768px) { 

   .header-container{
    .header-wrapper{
        padding: 20px 20px;

        .icons-wrapper{
            gap: 14px;
        }

        .menu-icon{
            display: flex;
        }
        .logo-title{
            font-size: 20px;
            line-height: 24px;
        }
        .profile-icon{
            display: none;
        }
    }
    .navbar-wrapper{
        display: none;
    }
    .logo-image{
        width: 20px;
        height: 20px;
    }
   }
   
}