@import '@/styles/variable.scss';
.footer-wrapper{
    padding: 80px 128px 20px 128px;

    .input-wrapper{
        margin-top: 50px;
        .input{
            max-width: 384px;
            height: 47px;
            padding: 14px 24px;
            margin-right: 16px;
        }
        .btn{
            height: 48px;
            max-width: 184px;
            opacity: 0.3;
            border: 1.14px solid $white-color;
            border-radius: 5px;

        }
    }

    .icon-wrapper{
        gap: 8px;
    }
}

//resposnive
@media screen and (max-width: 768px) { 

   .footer-wrapper{
    padding: 16px;
    .footer-description{
        flex-direction: column;

        .footer{
            p{
                display: none;
            }
            .details{
                display: block;
            }
            .input-wrapper{
                margin-top: 16px;
                display: flex;
            }
        }
        .horizontal-line{
            display: block;
        }
        .contact-info{
            width: 100%;
        }
        .currency-text{
            display: none;
        }
    }
    .metta-description-wrapper{
        display: none;
    }
    .quick-wrapper{
        display: none;
    }
    .social-wrapper{
        margin-top: 15px;

        .footer-responsive{
            display: block;
        }
    }
    .social{
        display: none;
    }
    .res-text,.responsive-icon-wrapper{
        display: block;
        }
   }
}
